header {
  background-color: #796060;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #796060;
}

.past {
  background-color: darkslategray;
  color: white;
  padding: 5px;
  border: 1px solid black;
  opacity: 40%;
}
  

.present {
  background-color: red;
  color: white;
  border: 5px solid yellow;
}

.future {
  background-color: green;
  color: white;
}

#save-btn {
   text-align: center;
   float: right;
}

#save-btn:hover {
  background-color: rgb(130, 149, 165);
}


.event  {
  border: 1px solid #585252
}

.hour {
  border: 1px solid #585252
}